[Desktop Entry]
Type=Application
Name=OpenTyrian
Comment=An arcade-style shoot 'em up
Icon=${SNAP}/usr/local/share/icons/opentyrian.png
Categories=Game;ArcadeGame;
TryExec=opentyrian
Exec=opentyrian
Terminal=false
